<!-- Bordes decorativos animados (inspirado en kazukinoda.com) -->
<div class="decorative-borders" aria-hidden="true">
  <div class="border-line border-top"></div>
  <div class="border-line border-right"></div>
  <div class="border-line border-bottom"></div>
  <div class="border-line border-left"></div>
</div>
